body {
  scroll-behavior: smooth;
  * {
    font-family: "Inter", sans-serif;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 0.8rem;
    letter-spacing: 1%;
  }
  button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 100px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-bottom: 0;
  }
  // Button
  .contact_btn,
  .contact_btn:hover {
    background-color: #00796d;
    color: #fff;
  }
  .text_gradient {
    background: linear-gradient(to right, #38c682, #00796d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Navbar
nav {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #0c111f;
}

.hero_section {
  background-image: url("images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.5rem 0;
  z-index: 1;
  .hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    gap: 1.25rem;
    .hero_block {
      background-color: rgba($color: #fff, $alpha: 0.1);
      color: #fff;
      width: fit-content;
      border-radius: 100px;
      padding: 0.5rem 1rem;
      text-align: center;
    }
    .card_icons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem 0;
      h5 {
        color: #fff;
        font-weight: 500;
        line-height: 1.5;
        margin: 0;
      }
    }
  }
}

.services {
  padding: 4rem 0;
  .card_services {
    background-color: #f8f8f8;
    border-radius: 2rem;
    cursor: pointer;
    .card_title {
      padding: 1rem;
      i {
        font-size: 28px;
      }
    }
    .card_body {
      padding: 1rem 0;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin-top: 1rem;
        border-radius: 1rem;
      }
    }
    .hide {
      display: none;
    }
  }
}

.show {
  .card_services_btn {
    transform: rotate(-180deg);
    animation: getRotate- 0.5s ease;
  }
  .card_body {
    display: block;
  }
}

.hide {
  .card_services_btn {
    transform: rotate(0deg);
    animation: getRotate 0.5s ease;
  }
  .card_body {
    display: none;
  }
}

.achievement {
  padding: 4rem 0;
  background-image: url("images/achievement-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1023px) {
  nav {
    padding: 0.5rem 0 !important;
    .navbar_items {
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      position: fixed;
      top: 56px;
      left: -100%;
      padding: 10px 20px;
      transition: all 0.5s;
      z-index: 1;
      a {
        display: block;
        padding: 1rem 0;
        color: #0c111f;
        border-bottom: 1px solid #0c111f;
      }
    }
    i {
      font-size: 24px;
    }
    .contact_btn {
      display: none;
    }
  }
  .show {
    .navbar_items {
      left: 0;
    }
  }
  // Hero Section
  .hero_section {
    .hero_container {
      p {
        font-size: 14px;
      }
      .banner {
        padding: 1rem;
        h2 {
          margin-bottom: 1rem;
        }
        .card_icons {
          background: linear-gradient(to right, #38c682, #00796d);
          padding: 1.5rem;
          border-radius: 1rem;
          margin: 0.5rem 0;
          img {
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
  }

  // Card Services
  .card_services {
    margin: 1rem 0;
    .card_body {
      padding: 0 !important;
      padding-bottom: 1rem !important;
      img {
        height: 185px;
      }
    }
  }

  // Achievement Section
  .achievement{
    .container-lg{
      display: grid;
      gap: 32px;
      h1{
        font-size: 24px;
        line-height: 32px;
      }
      .row_achievement{
        padding: 1rem;
        gap: 1rem;
        .card_achievement{
          background: linear-gradient(to right, #38c682, #00796d);
          padding: 1.5rem;
          border-radius: 1rem;
          h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: 52px;
            letter-spacing: -2%;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .navbar_btn {
    display: none;
  }

  // Component Navbar
  nav {
    .navbar_items {
      a {
        padding: 0.5rem;
        transition: all 0.5s;
        position: relative;
      }
      a:hover {
        color: #fff;
        transition: all 0.5s;
      }
      a:hover::before {
        content: "";
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #00796d, #38c682);
        position: absolute;
        bottom: 0;
        left: 0;
        animation: getHover 0.5s linear;
      }
    }
  }
  // Hero Section
  .hero_section {
    width: 100%;
    height: 100%;
    .hero_container {
      .banner {
        background-image: url("images/hero-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem;
        .card_icons {
          img {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }
  // Card Services
  .card_services {
    margin: 1.5rem;
    img {
      height: 350px;
    }
  }

  // Achievement Section
  .achievement {
    .container-lg {
      display:grid;
      gap: 64px;
      h1 {
        font-size: 44px;
        font-weight: 500;
        line-height: 52px;
        letter-spacing: -2%;
      }
      .row_achievement {
        background: linear-gradient(to right, #38c682, #00796d);
        padding: 2rem;
        border-radius: 1.5rem;
        .card_achievement {
          h1 {
            font-size: 72px;
            font-weight: 700;
            line-height: 76px;
            letter-spacing: -2%;
          }
        }
      }
    }
  }
}

@keyframes getHover {
  0% {
    width: 5px;
  }
  100% {
    width: 100%;
  }
}
@keyframes getRotate {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes getRotate- {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
